$color: transparent;
$color-1:rgba(59,130,246,0.5);
$color-2:#fca5a5;
$color-3:#a78bfa;
$color-4:#61bad1;
$color-5: #f1f2f2;
$color-6: #fff;
$size: 80px;
$size2: 25px;
$display: block;
$display-2: flex;
$position-1: relative;
$position-2: absolute;
$position-3: fixed;
$width: 750px;
$width-2: 280px;
$width-3: 1000px;
$top: -600px;
$top2: 720px;
$top3: 20px;
$font-1:"Marck Script",cursive;
$font-2: "Josefin Slab",serif;
$height: 30px;
$height1: 1130px;
$height-2: 18rem;
$weight: inherit;
$weight-2: 550;
$font-family: inherit;
$line-height: inherit;
$center: center;
$bottom: -70px;
$bottom2: -310px;
$margin2: -310;
$margin: 10px;
$padding: 8.4rem;
$padding2: 1.5rem;
$left: 100px;
$left1: - 60px;
$left2: 1150px;
$right: 100px;
$margin-left: 320px;
$margin-right: 320px;
$margin-bottom: 50px;
$margin-bottom2: 200px;
$margin-top:-200px;
$margin-top2: 580px;
$b-w: 5px;
$gap: 80px;
$transform-origin: center top;
$index: 10;

@mixin body ($br, $dis) {
  background: $br ;
  display: $dis ;
}

@mixin contenedor ($bk, $wd, $top, $hei, $ml, $mr, $pd, $ps, $dis ,$flex, $jus, $tex, $ali) {
   
  background-color:$bk;
  width:$wd;
  top:$top;
  height: $hei;
  margin-left:$ml;
  margin-right: $mr;
  padding: $pd;
  position:$ps;
  display: $dis;
  flex-direction: $flex;
  justify-content: $jus;
  text-align: $tex;
  align-items: $ali;
}

@mixin dashed ($cl, $bor, $mb, $wi, $box, $bor) {
 
  color: $cl;
  border-width: $bor;
  margin-bottom: $mb;
  width: $wi;
  box-sizing: $box ;
  border-style: $bor ;
}

@mixin nubes ($fle, $pos, $box) {
  flex-wrap: $fle ;
  position: $pos ;
  box-sizing: $box ;
}

@mixin flores ($mar, $dis, $pos, $jus, $z ) {
  margin-top:$mar;
  display: $dis;
  position: $pos;
  justify-content:$jus;
  z-index: $z;
}

@mixin img ($mar, $mar-l, $hei, $dis, $jus, $ali, $gp) {
  margin: $mar;
  margin-left: $mar-l;
  height: $hei ;
  display: $dis;
  justify-content: $jus;
  align-items:  $ali;
  gap: $gp ;
}

body{
  @include body ($color-1, $display-2);
  
}      
  
.contenedor{
    
    @include contenedor ($color-5, $width-3,$top2 - 600, $height1, $margin-left, $margin-right, $padding2, absolute, block, column, center, center, flex-start);
    
  }
    
 #dashed{
    
    @include dashed ($color-4, $b-w, $margin-bottom, $width-3, border-box, dashed);
       
  }
  
   h1{
      color: $color-2;
      margin-top: $margin-top + 180;
      padding: $padding;
      font-family: $font-1;
      font-weight: $weight;
      font-size: $size - 20;
      margin-bottom: $margin-bottom + 30px;
     
    }
  
  h2{
      color: $color-3;
      margin-top: $margin-top ;
      margin-bottom: $margin-bottom;
      font-weight: $weight;
      font-size: $size + 20 ;
      font-family:$font-1;
    
    }
   
   p{
      color: $color-4;
      width: $width;
      margin-left: $left;
      line-height: $height;
      font-weight: $weight-2;
      font-size: $size2;
      font-family: $font-2;
      
    }

 .texto{
     
     &1{
       color: $color-4;
       margin-left: $left + 400;
       font-size: $size2;
       font-family: $font-2;
      
       }

     &2{
       color: $color-3;
       margin: $margin;
       font-size: $size2 + 15;
       font-family:$font-1;
    
       } 
     
     &3{
       color: $color-4;
       margin: $margin;
       font-size: $size2;
       font-family: $font-2;
        
       }

     &4{
       color: $color-2;
       margin: $margin;
       font-size: $size2 + 15;
       font-family:$font-1;
        
       }

     &5{
       color: $color-4;
       margin: $margin;
       font-size: $size2;
       font-family: $font-2;
    
       }

     &6{
       color: $color-3;
       margin: $margin;
       font-size: $size2 + 15;
       font-family:$font-1;
        
       }

     &7{
        color: $color-4;
        margin: $margin;
        font-size: $size2;
        margin-bottom: $margin-bottom2;
        font-family: $font-2;
      
        }
    }


.nube{
    
  @include nubes (wrap, $position-3, border-box);
       
       @keyframes movimiento {
        from {
            margin-left: -30%;
        }
        to {
            margin-left: 100%;
        }
    }  
    
   &1{    
        width: $width - 580;
        top: $top;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 14s infinite; 
    
     }

   &2{
        width: $width - 450;
        top: $top + 100;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 49s infinite; 
    
     }

   &3{
        width: $width - 550;
        top: $top + 150;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 18s infinite;  
    
     } 

   &4{
        width: $width - 560;
        top: $top + 200;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 16s infinite; 
    
     }
    
   &5{
        width: $width - 450;
        top: $top + 300;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 40s infinite;  
    
     }

  &6{
        width: $width - 450;
        top: $top + 250;
        font-size: $size + 820;
        position: $position-3;
        animation: movimiento 50s infinite; 
    
    }

  &7{
        width: $width - 560;
        top: $top + 400;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 13s infinite; 
    
    }

   &8{
        width: $width - 560;
        top: $top + 700;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 15s infinite;  
    
     }

   &9{
        width: $width - 550;
        top: $top + 500;
        font-size: $size + 620;
        position: $position-3;
        animation: movimiento 60s infinite; 

     }

  &10{
        width: $width - 450;
        top: $top + 700;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 30s infinite; 
    
     }

  &11{
        width: $width - 250;
        top: $top + 300;
        font-size: $size + 920;
        position: $position-3;
        animation: movimiento 65s infinite; 
    
     }

    
}

.imagen{
 
 @include img ($margin + 40, $left + 100, $height, $display-2, center, center, $gap);
       
        @keyframes mov {
        0% {transform: rotate(0deg);}
    
        25%  { transform: rotate(35deg);}
       
           50% {transform: rotate(0deg);}
    
         75%  {transform: rotate(-35deg);}
    
         100% {transform: rotate(0deg);}
        
    }
  
   &1{
    
        height: $height-2;
        margin: $margin + 10;
        position: $position-1; 
        margin-left: $left;
        bottom: $bottom;
        display: $display;
        font-family: $font-family;
        line-height: $line-height;
        transform-origin: $transform-origin;
        animation: mov  13s linear infinite;
 
     }

   &2{

        height: $height-2;
        margin: $margin + 10;
        top: $top3 + 20;
        position: $position-1;
        margin-right: $right;
        bottom: $bottom  - 10;
        display: $display;
        font-family: $font-family;
        line-height: $line-height;
        transform-origin: $transform-origin;
        animation: mov 16s linear infinite;

     }

   &3{

        height: $height-2;
        margin: $margin + 10;
        top: $top3;
        position: $position-1;
        margin-left: $left + 100;
        bottom: $bottom + 30; 
        display: $display;
        font-family: $font-family;
        line-height: $line-height;
        transform-origin: $transform-origin;
        animation: mov 13s linear infinite;

     }

   &4{

        height: $height-2;
        margin: $margin + 10;
        position: $position-1;
        margin-left: $left;
        bottom: $bottom + 20;
        display: $display;
        font-family: $font-family;
        line-height: $line-height;
        transform-origin: $transform-origin;
        animation: mov 16s linear infinite;
    
     }

}

.flores{
  min-width: 100px;
   @include flores (auto, flex, fixed, space-between, $index);
   
    &1{
        width: $width-2 +30;
        display: $display;
        margin-left: $left1;
        margin-top: $margin-top2;
        font-family: $font-family;
        line-height: $line-height;
        transform: rotate(52deg);
        box-sizing: border-box;
        z-index: $index;
       
     }
    
   &2{
        width: $width-2;
        display: $display;
        margin-left: $left2;
        margin-top: $margin-top2 + 70;
        font-family: $font-family;
        line-height: $line-height;
        box-sizing: border-box;
        z-index: $index;
       
     }
   
    
.lightMode{
    
        background-color: $color;
        color: $color-6;
        font-size: $size - 40;
        font-family: "Marck Script",cursive;
        position: absolute;
        top: $top2;
        border: 0 solid;
        transform: rotate(35deg);
        cursor: pointer;
        left: $left - 20;
        z-index: $index;
 
    }

.darkblue {
        background-color: $color;
        color: $color-6;
        font-size: $size - 40;
        font-family: "Marck Script",cursive;
        position: absolute;
        top: $top2 + 30;
        border: 0 solid;
        transform: rotate(-35deg);
        cursor: pointer;
        right: $right;
        z-index: $index;
       
    }
}

.darkblue {
        background-color:darkblue;
}
.lightMode {
        background-color:rgba(59,130,246,0.5);
    
}

