$color: transparent;
$color-1:rgba(59,130,246,0.5);
$color-2:#fca5a5;
$color-3:#a78bfa;
$color-4:#61bad1;
$color-5: #f1f2f2;
$color-6: #fff;
$size: 80px;
$size1: 1.5rem;
$size2: 2.25rem;
$display: block;
$display-2: flex;
$position-1: relative;
$position-2: absolute;
$position-3: fixed;
$width: 9rem;
$width1:310px;
$width-2: 280px;
$width-3: 60%;
$top: -600px;
$top2: 120px;
$top3: 20px;
$font-1:"Marck Script",cursive;
$font-2: "Josefin Slab",serif;
$height: 30px;
$height1: 1130px;
$height-2: 18rem;
$weight: inherit;
$weight-2: 540;
$font-family: inherit;
$line-height: inherit;
$center: center;
$bottom: -70px;
$botton1: 24px;
$margin2: -310;
$margin: 10px;
$padding: 7.5rem;
$padding2: 1.5rem;
$p-top: 1.5rem;
$p-botton: 1rem;
$left: 100px;
$left1: - 60px;
$left2: 1150px;
$right: 100px;
$margin-left: 320px;
$margin-right: 320px;
$margin-bottom: 50px;
$margin-bottom2: 180px;
$margin-top:-200px;
$margin-top1: 580px;
$margin-top2: 80px;
$b-w: 5px;
$gap: 80px;
$opacy: 0.8;
$transform-origin: center top;
$index: 10;

@mixin body ($br, $dis) {
  background: $br ;
  display: $dis ;
}

@mixin contenedor ($bk, $wd, $top, $ml, $mr, $pd, $ps, $dis ,$flex, $jus, $tex, $ali, $box) {
   
  background-color:$bk;
  width:$wd;
  top:$top;
  margin-left:$ml;
  margin-right: $mr;
  padding: $pd;
  position:$ps;
  display: $dis;
  flex-direction: $flex;
  justify-content: $jus;
  text-align: $tex;
  align-items: $ali;
  box-sizing: $box;
}

@mixin dashed ($cl, $b-w, $wi, $box, $bor) {
 
  color: $cl;
  border-width: $b-w;
  width: $wi;
  box-sizing: $box ;
  border-style: $bor ;
  
}

 @mixin nubes ($fle, $pos, $box, $opa) {
  flex-wrap: $fle ;
  position: $pos ;
  box-sizing: $box ;
  opacity: $opa;
  
}

 @mixin img ($mar, $mar-l, $hei, $dis, $jus, $ali, $gp, $box, $font-fa, $line, $pos, $transfor) {
  margin: $mar;
  margin-left: $mar-l;
  height: $hei ;
  display: $dis;
  justify-content: $jus;
  align-items:  $ali;
  gap: $gp ;
  box-sizing: $box;
  font-family: $font-fa;
  line-height: $line;
  position: $pos; 
  transform-origin: $transfor;
}  
  
  @mixin flores ($mar, $mar-top, $dis, $pos, $jus, $z, $box) {
  margin-top:$mar; 
  margin-top: $mar-top;
  display: $dis;
  position: $pos;
  justify-content:$jus;
  z-index: $z;
  box-sizing: $box;

}




body{
  @include body ($color-1, $display-2);
  #global{
    .lightMode {
      background-color:rgba(59,130,246,0.5);
  }

     .darkblue {
       background-color:darkblue;}
  }
}    
  
.contenedor{
    
    @include contenedor ($color-5, $width-3,$top2, $margin-left, $margin-right, $padding2, absolute, block, column, center, center, flex-start, border-box );
    
  
    
 #dashed{
    
    @include dashed ($color-4, $b-w, $width-3 +40%, border-box, dashed);
    
  }
  
   h1{
      color: $color-2;
      padding: $padding ;
      margin: $margin - 10px;
      font-family: $font-1;
      font-weight: $weight;
      font-size: $size - 20;
      margin-bottom: $margin-bottom - 250px;
     
    }
  
  h2{
      color: $color-3;
      margin-top: 60px;
      margin-bottom: 60px;
      font-weight: $weight;
      font-size: $size + 16 ;
      font-family:$font-1;
    
    }
  
   p{
      color: $color-4;
      text-align: center;
      padding-bottom: $p-botton;
      line-height: $height;
      font-weight: $weight-2;
      font-size: $size1;
      font-family: $font-2;
      
    }
 
 .texto{
     
     &1{
      padding-top: $p-top;
       color: $color-4;
       margin-left: $left + 400;
       font-size: $size1;
       font-family: $font-2;
      
       }

     &2{
       color: $color-3;
       margin: $margin;
       font-size: $size2;
       font-family:$font-1;
    
       } 
     
     &3{
       color: $color-4;
       margin: $margin;
       margin-bottom: $botton1;
       font-size: $size1;
       font-family: $font-2;
        
       }

     &4{
       color: $color-2;
       margin: $margin;
       font-size: $size2;
       font-family:$font-1;
        
       }

     &5{
       color: $color-4;
       margin: $margin;
       margin-bottom: $botton1 ;
       font-size: $size1;
       
    
       }

     &6{
       color: $color-3;
       font-size: $size2;
       font-family:$font-1;
        
       }

     &7{
        color: $color-4;
        margin-bottom: $margin-bottom2;
        font-size: $size1;
        font-family:$font-2;
      
        }
    }
  }

.nube{
    
  @include nubes (wrap, $position-3, border-box, $opacy);
 
       @keyframes movimiento {
        from {
            margin-left: -30%;
        }
        to {
            margin-left: 100%;
        }
    }  
    
   &1{    
        width: $width;
        top: $top - 30;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 10s linear infinite; 
       
     }

   &2{
        width: $width + 9;
        top: $top + 120;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 20s linear infinite; 
    
     }

   &3{
        width: $width;
        top: $top + 150;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 15s linear infinite;  
    
     } 

   &4{
        width: $width + 9;
        top: $top + 200;
        font-size: $size + 1020;
        position: $position-3;
        animation: movimiento 30s linear infinite; 
    
     }
    
   &5{
        width: $width;
        top: $top + 300;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 12s linear infinite;  
    
     }

  &6{
        width: $width + 9;
        top: $top + 250;
        font-size: $size + 1420;
        position: $position-3;
        animation: movimiento 24s linear infinite; 
    
    }

  &7{
        width: $width - 3;
        top: $top + 800;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 50s linear infinite; 
    
    }

   &8{
        width: $width;
        top: $top  700;
        font-size: $size + 720;
        position: $position-3;
        animation: movimiento 32s linear infinite;  
    
     }

   &9{
        width: $width + 14;
        top: $top + 500;
        font-size: $size + 920;
        position: $position-3;
        animation: movimiento 20s linear infinite; 

     }

  &10{
        width: $width - 2;
        top: $top + 700;
        font-size: $size + 1120;
        position: $position-3;
        animation: movimiento 56s linear infinite; 
    
     }

}

.imagen{
 
 @include img ($margin + 40, $left + 100, $height, $display-2, center, center, $gap, border-box, $font-family, $line-height, $position-1, $transform-origin);
    width: 70%; 
        @keyframes mov {
        0% {transform: rotate(0deg);}
    
        25%  { transform: rotate(35deg);}
       
           50% {transform: rotate(0deg);}
    
         75%  {transform: rotate(-35deg);}
    
         100% {transform: rotate(0deg);}
        
    }
  
   &1{
    
        height: $height-2;
        margin: $margin + 10;
        margin-left: $left;
        bottom: $bottom;
        transform-origin: $transform-origin;
        animation: mov  13s linear infinite;
        
     }
       

   &2{

        height: $height-2;
        margin: $margin + 10;
        top: $top3 + 20;
        margin-right: $right;
        bottom: $bottom  - 10;
        transform-origin: $transform-origin;
        animation: mov 16s linear infinite;

     }

   &3{

        height: $height-2;
        margin: $margin + 10;
        top: $top3;
        margin-left: $left + 100;
        bottom: $bottom + 30;
        transform-origin: $transform-origin;
        animation: mov 13s linear infinite;

     }

   &4{

        height: $height-2;
        margin: $margin + 10;
        margin-left: $left;
        bottom: $bottom + 20;
        transform-origin: $transform-origin;
        animation: mov 16s linear infinite;
    
     }
}


.flores{
 
   @include flores (auto, $margin-top1, flex, fixed, space-between, $index, border-box);
  
    &1{
        width: $width1;
        margin-left: $left1;
        margin-bottom: $botton1 + 96;
        font-family: $font-family;
        line-height: $line-height;
        transform: rotate(52deg);
        border: 0 solid;
        
       
     }
    
   &2{
        width: $width-2;
        margin-left: $left2;
        font-family: $font-family;
        line-height: $line-height;
        border: 0 solid;
      
    
     }
     
     
.lightMode{
    
      background-color: $color;
      color: $color-6;
      font-size: $size - 40;
      font-family: "Marck Script",cursive;
      position: absolute;
      top: $top2;
      transform: rotate(35deg);
      cursor: pointer;
      left: $left - 20;
      border: 0 solid;
      z-index: $index;
      
  }

.darkblue{
      background-color: $color;
      color:$color-6;
      font-size: $size - 40;
      font-family: "Marck Script",cursive;
      position: absolute;
      top: $top2 + 50;
      transform: rotate(-35deg);
      cursor: pointer;
      right: $right;
      border: 0 solid;
      z-index: $index;
     
  }  
    
}

@media screen and (min-width:768px) {
  .contenedor{
     width: 60%;
  }

      .dashed{
       width: 60%;
      }
    
      .imagen{
        width: 70%;
      }
}

